---
import Layout from "../layouts/Layout.astro";

import Nav from "../components/Nav.astro";
import Welcome from "../components/Download/Welcome.astro";
import Video from "../components/Download/Video.astro";
import Text from "../components/Download/Text.astro";
import DownloadBtn from "../components/Download/Download.astro";
---

<Layout title="R5Reloaded">
  <Nav active="download" />
  <main>
    <div class="container" style="padding-top: 0px">
      <div class="row">
        <div class="background">
          <Welcome />
          <DownloadBtn />
          <Video />
          <Text />
        </div>
      </div>
    </div>
  </main>
</Layout>
