---
//export const prerender = true;

import Layout from "../layouts/Layout.astro";

export const response = await fetch("https://ms.r5reloaded.com/eula?language=english", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
});

const EULA = await response.json();

console.log(EULA);
---

<Layout title="R5Reloaded">
  <main>
    <div class="container" style="padding-top: 0px">
      <div class="row">
        <div class="background">
          <div class="welcome">
            <div class="description">
              <h1>End-User License Agreement</h1>
            </div>
          </div>
          <div class="eula-background">
            <p>{EULA.data.contents}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .eula-background {
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    justify-content: center;
    margin-top: 50px;
    padding: 10px 20px 30px 20px;
    background-color: #1f2122;
    border-radius: 5px;
  }

  .eula-background > p {
    color: var(--white);
    font-size: 20px;
    white-space: pre-wrap;
  }

  .welcome {
    height: 200px;
    width: 100%;
    background-image: url("./img/eula.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    text-align: center;
  }
  .welcome > .description {
    display: inline-block;
    width: 100%;
    justify-content: center;
    padding-top: 60px;
    padding-left: 0px;
  }
  .description h1 {
    line-height: 60px;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: black 0px 0 20px;
  }

  @media (max-width: 992px) {
    .welcome > .description {
      display: inline-block;
      width: 100%;
      justify-content: center;
      padding-top: 65px;
      padding-left: 0px;
    }
    .description p {
      font-weight: 800;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 20px;
      color: var(--white);
      text-shadow: black 0px 0 20px;
    }
    .description h1 {
      line-height: 60px;
      font-size: 30px;
      margin-bottom: 25px;
      text-transform: uppercase;
      color: var(--white);
      text-shadow: black 0px 0 20px;
    }
  }
</style>
