---
import Layout from "../layouts/Main.astro";

import Main from "../components/Home/Main.astro";
import Nav from "../components/Nav/nav_bar.astro";
import News from "../components/Home/News.astro";

slug: "";
---

<Layout title="R5Reloaded">
  <Main>
    <Nav />
  </Main>
  <News />
</Layout>