---
import Layout from "../layouts/Layout.astro";

import Nav from "../components/Nav.astro";
import Welcome from "../components/Home/Welcome.astro";
import Showcase from "../components/Home/Showcase.astro";
import Info from "../components/Home/Info.astro";

slug: "";
---

<Layout title="R5Reloaded">
  <Nav active="home" />
  <main>
    <div class="transition-effect">
      <div class="container" style="padding-top: 0px;">
        <div class="row">
          <div class="background">
            <Welcome />
            <Showcase />
            <Info />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
