---
import Main from "../layouts/Main.astro";

import Nav from "../components/Nav/nav_bar.astro";
import Home from "../components/Home/Main.astro";

slug: "";
---

<Main title="R5Reloaded">
  <Home>
    <Nav />
  </Home>
</Main>