.contribs > .btn:nth-child(3) {
  color: var(--light);
}
.contribs > .btn:nth-child(3):hover {
  color: var(--red);
}
.contribs > .btn:nth-child(4) {
  color: var(--red);
}

.downloads > .btn:nth-child(4) {
  color: var(--light);
}
.downloads > .btn:nth-child(4):hover {
  color: var(--red);
}
.downloads > .btn:nth-child(5) {
  color: var(--red);
}

.docs > .btn:nth-child(1) {
  color: var(--light);
}
.docs > .btn:nth-child(1):hover {
  color: var(--red);
}
.docs > .btn:nth-child(2) {
  color: var(--red);
}

.contribus > .black-background {
  height: 100%;
  padding-bottom: 40px;
}
.streamers .block-content .items .item > .text-white {
  font-weight: 800;
}
.text-white-name {
  font-weight: 800;
  color: var(--red);
}

a {
  display: block;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}