<div class="algs">
  <h1>IMPORTANT ANNOUNCEMENT</h1>
  <p>
    We are aware of a recent series of hacking incidents during the ALGS
    matches, which have understandably caused concern. We want to assert that
    R5Reloaded has no association with these hacking incidents. Our commitment
    to upholding the integrity of our game remains unwavering. As an open-source
    platform, R5Reloaded's source code and patches are publicly accessible and
    available for review.<br /><br />To dispel any misconceptions, we urge
    members of our community to reach out to content creators and streamers who
    could use their platforms to clarify that R5Reloaded is not involved in
    these incidents.<br /><br />We value your support and understanding during
    this challenging time and are open to providing further clarification if
    needed.<br /><br />Thank you.<br />The R5Reloaded Team
  </p>
</div>

<style>
  .algs {
    width: 100%;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: rgb(255, 73, 73);
    overflow: hidden; /* To contain floated elements within the div */
  }

  .algs > p {
    display: block;
    padding: 32px 256px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 1000;
    font-style: bold;
  }

  .algs > h1 {
    margin-top: 32px;
    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: 1000;
    font-style: bold;
  }
</style>
