<div class="algs">
  <h1>!! IMPORTANT !!</h1>
  <p>Recent hacking incidents during ALGS matches have caused concern. R5Reloaded asserts no association with these incidents, maintaining our commitment to game integrity. Our open-source platform allows public review of source code and patches. We encourage the community to engage with content creators and streamers to dispel misconceptions. We appreciate your support and offer further clarification if needed. <br /><br />Thank you, <br />R5Reloaded Team</p>
</div>

<style>
  .algs {
    height: 225px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: rgb(255, 73, 73);
  }

  .algs > p {
    padding: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
  }

  .algs > h1 {
    font-size: 35px;
    color: white;
    text-align: center;
  }

  @media (max-width: 1400px) {
    .algs {
      height: 255px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }

  @media (max-width: 1200px) {
    .algs {
      height: 280px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }

  @media (max-width: 992px) {
    .algs {
      height: 305px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }

  @media (max-width: 768px) {
    .algs {
      height: 415px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }

  @media (max-width: 576px) {
    .algs {
      height: 360px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }
</style>
