<div class="algs">
  <h1>!! IMPORTANT !!</h1>
  <p>
    We are aware of a recent series of hacking incidents during the ALGS matches, which have understandably caused concern. We want to assert that R5Reloaded has no association with these hacking incidents. Our commitment to upholding the integrity of our game remains unwavering. As an open-source platform, R5Reloaded's source code and patches are publicly accessible and available for review.<br /><br />To dispel any misconceptions, we urge members of our community to reach out to content
    creators and streamers who could use their platforms to clarify that R5Reloaded is not involved in these incidents.<br /><br />We value your support and understanding during this challenging time and are open to providing further clarification if needed.<br /><br />Thank you.<br />The R5Reloaded Team
  </p>
</div>

<style>
  .algs {
    height: 360px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: rgb(255, 73, 73);
  }

  .algs > p {
    padding: 5px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 1000;
    font-style: bold;
    text-shadow: 1px 1px 6px black;
  }

  .algs > h1 {
    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: 1000;
    font-style: bold;
    text-shadow: 1px 1px 6px black;
  }

  @media (max-width: 1400px) {
    .algs {
      height: 415px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }

  @media (max-width: 1200px) {
    .algs {
      height: 465px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }

  @media (max-width: 992px) {
    .algs {
      height: 495px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }

  @media (max-width: 768px) {
    .algs {
      height: 655px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }

  @media (max-width: 576px) {
    .algs {
      height: 600px;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: rgb(255, 73, 73);
    }
  }
</style>
