<div class="black-background">
  <h3 class="title">Whats R5Reloaded?</h3>
  <div class="block-content">
    <div class="items">
      <div class="item">
        <div class="descriptionshowcase">
          <h1>Custom Servers</h1>
          <h2>Join or create fully custom servers.</h2>
        </div>
      </div>
    </div>

    <div class="items">
      <div class="item">
        <div class="descriptionshowcase">
          <h1>Modding Support</h1>
          <h2>Modify your game or server however you like.</h2>
        </div>
      </div>
    </div>

    <div class="items">
      <div class="item">
        <div class="descriptionshowcase">
          <h1>Private Matches</h1>
          <h2>Run around by your self or with friends.</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="block-content">
    <div class="items">
      <div class="item">
        <div class="descriptionshowcase">
          <h1>Open Source</h1>
          <h2>Feel free to take a peak at what is going on behind the scenes.</h2>
        </div>
      </div>
    </div>

    <div class="items">
      <div class="item">
        <div class="descriptionshowcase">
          <h1>Scripting</h1>
          <h2>Full access to the games scripting language.</h2>
        </div>
      </div>
    </div>

    <div class="items">
      <div class="item">
        <div class="descriptionshowcase">
          <h1>Server List</h1>
          <h2>Easily join a variety of servers.</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .descriptionshowcase {
    width: 400px;
    height: 100px;
  }

  .descriptionshowcase p {
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 35px;
    color: var(--red);
    text-shadow: black 0px 0 20px;
    text-align: center;
  }
  .descriptionshowcase h1 {
    line-height: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: black 0px 0 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .descriptionshowcase h2 {
    font-size: 15px;
    width: 90%;
    padding-left: 25px;
    color: #b9b9b9;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .descriptionshowcase h1 span {
    color: var(--red);
  }

  .block-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .items {
    display: flex;
  }
  .items img {
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
  }
  .items > .item {
    display: flex;
    flex-direction: column;
  }
  .items > .item p:nth-child(1) {
    color: var(--red);
  }
  .items > .item p:nth-child(1) i {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    padding: 3px;
    justify-content: center;
    align-content: center;
    background-color: var(--red);
    color: var(--white);
    border-radius: 10px;
  }
  .item > .text-white {
    width: 100%;
    font-size: 20px;
  }
</style>
