<div class="info-background">
  <h3 class="title">Whats R5Reloaded?</h3>
  <div class="block hover hover-animation item">
    <div class="descriptionshowcase">
      <h1>Custom Servers</h1>
      <h2>Join or create fully custom servers.</h2>
    </div>
  </div>

  <div class="block hover hover-animation item">
    <div class="descriptionshowcase">
      <h1>Modding Support</h1>
      <h2>Modify your game or server however you like.</h2>
    </div>
  </div>

  <div class="block hover hover-animation item">
    <div class="descriptionshowcase">
      <h1>Private Matches</h1>
      <h2>Run around by your self or with friends.</h2>
    </div>
  </div>

  <div class="block hover hover-animation item">
    <div class="descriptionshowcase">
      <h1>Open Source</h1>
      <h2>Feel free to take a peak at what is going on behind the scenes.</h2>
    </div>
  </div>

  <div class="block hover hover-animation item">
    <div class="descriptionshowcase">
      <h1>Scripting</h1>
      <h2>Full access to the games scripting language.</h2>
    </div>
  </div>

  <div class="block hover hover-animation item">
    <div class="descriptionshowcase">
      <h1>Server List</h1>
      <h2>Easily join a variety of servers.</h2>
    </div>
  </div>
</div>

<style>
  .info-background {
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 10px 20px 30px 0px;
    background-color: #1f2122;
    border-radius: 5px;
  }

  .descriptionshowcase {
    width: 400px;
    height: 100px;
  }

  .descriptionshowcase p {
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 35px;
    color: var(--red);
    text-shadow: black 0px 0 20px;
    text-align: center;
  }
  .descriptionshowcase h1 {
    line-height: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: black 0px 0 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .descriptionshowcase h2 {
    font-size: 15px;
    width: 90%;
    padding-left: 25px;
    color: #b9b9b9;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .descriptionshowcase h1 span {
    color: var(--red);
  }

  .hover-animation {
    text-decoration: none;
    transition: transform 0.3s ease; /* Apply the transition effect */
  }

  .hover-animation:hover {
    transform: scale(1.1); /* Apply the scale transformation on hover */
  }
  .block {
    display: inline-block;
    margin-left: 0px;
    padding: 0px 0px 10px 0px;
    text-align: center;
  }
  .block img {
    width: 150px;
    height: 150px;
    border-radius: 35px 20px;
  }
  .hover {
    position: relative;
    width: 380px;
    text-align: center;
  }

  .item > .text-white {
    width: 100%;
    font-size: 20px;
  }

  @media (max-width: 992px) {
    .block {
      display: inline-block;
      text-align: center;
      padding: 0px 0px 0px 0px;
      margin-right: 50px;
    }

    .info-background {
      height: 100%;
      width: 100%;
      justify-content: center;
      text-align: center;
      margin-top: 50px;
      padding: 10px 0px 10px 0px;
      background-color: #1f2122;
      border-radius: 5px;
    }

    .hover {
      position: relative;
      width: 380px;
      text-align: center;
    }
  }

  @media (max-width: 1200px) {
    .block {
      display: inline-block;
      text-align: center;
      padding: 0px 0px 0px 0px;
      margin-right: 60px;
    }

    .info-background {
      height: 100%;
      width: 100%;
      justify-content: center;
      text-align: center;
      margin-top: 50px;
      padding: 10px 0px 10px 0px;
      background-color: #1f2122;
      border-radius: 5px;
    }

    .hover {
      position: relative;
      width: 380px;
      text-align: center;
    }
  }

  @media (max-width: 1400px) {
    .block {
      display: inline-block;
      text-align: center;
      padding: 0px 0px 0px 0px;
      margin-right: 60px;
    }

    .info-background {
      height: 100%;
      width: 100%;
      justify-content: center;
      text-align: center;
      margin-top: 50px;
      padding: 10px 0px 10px 0px;
      background-color: #1f2122;
      border-radius: 5px;
    }

    .hover {
      position: relative;
      width: 330px;
      text-align: center;
    }
  }
</style>
