<div class="welcome">
  <div class="description" style="width:100%">
    <p style="width:50%">Welcome To R5Reloaded</p>
    <h1 style="width:50%">An Apex Legends Modding SDK</h1>
    <div class="block-content2">
      <a href="./download" class="downloadbutton" style="margin-right: 10px;box-shadow: 0px 0px 10px #00000090;"><i class="fa-solid fa-download"></i>Download</a>
      <a href="https://discord.com/invite/jqMkUdXrBr" class="discordbutton button-right" style="margin-right: 10px;box-shadow: 0px 0px 10px #00000090">
        <img src="https://utfs.io/f/YBTHYqEAQmVXBk6H7vpOp1RSm4EcXhN07tGCxFWTgw5nHPzL" alt="logo" width="30" title="Discord" />
      </a>
      <a href="https://github.com/Mauler125/r5sdk" class="githubbutton" style="margin-right: 10px;box-shadow: 0px 0px 10px #00000090;">
        <img src="https://utfs.io/f/YBTHYqEAQmVXAtiNfUKPo0g4yqrvKkDc9Y2mJsH8j7AGtuVB" alt="logo" width="50" title="Github" />
      </a>
      <a href="https://trello.com/b/ymr4R3j9/r5reloaded" class="trellobutton" style="margin-right: 10px; box-shadow: 0px 0px 10px #00000090;">
        <img src="https://utfs.io/f/YBTHYqEAQmVXM7EGFhR9DkTPUsLWCNnugO4HrIx05zSYK6BV" alt="logo" width="50" title="Trello" />
      </a>
      <a href="https://docs.r5reloaded.com/" class="docsbutton" style="margin-right: 40px; box-shadow: 0px 0px 10px #00000090;">
        <img src="https://utfs.io/f/YBTHYqEAQmVX2nGX9n1lWeh6IHUxKCfkc821wMQqsgSZPOBV" alt="logo" width="40" title="Docs" />
      </a>
    </div>
  </div>
</div>

<style>
  .welcome {
    height: 400px;
    width: 100%;
    background-image: url("https://utfs.io/f/YBTHYqEAQmVXOwuI4PFwE3tZWKmAp51Ic8SikVbjg7MuHvBQ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
  }
  .welcome > .description {
    display: inline-block;
    width: 50%;
    padding-top: 70px;
    padding-left: 60px;
  }
  .description p {
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 35px;
    color: var(--white);
    text-shadow: black 0px 0 20px;
  }
  .description h1 {
    line-height: 60px;
    font-size: 45px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: black 0px 0 20px;
  }
  .description h1 span {
    color: var(--red);
  }

  .block-content2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .button-left {
    margin-right: auto;
  }

  .button-right {
    margin-left: auto;
  }

  .downloadbutton {
    display: flex;
    width: 150px;
    height: 45px;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    background-color: #0f52ba;
    color: var(--white);
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
  }

  .downloadbutton i {
    margin-right: 5px;
    font-size: 15px;
  }

  .discordbutton {
    display: flex;
    width: 50px;
    height: 45px;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    background-color: #5166f7;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: none;
  }

  .githubbutton {
    display: flex;
    width: 50px;
    height: 45px;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    background-color: var(--white);
    color: var(--white);
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
  }

  .trellobutton {
    display: flex;
    width: 50px;
    height: 45px;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    background-color: #007dc5;
    color: var(--white);
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
  }

  .docsbutton {
    display: flex;
    width: 50px;
    height: 45px;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    background-color: var(--white);
    color: var(--white);
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
  }

  .discordbutton:hover,
  .trellobutton:hover,
  .githubbutton:hover,
  .downloadbutton:hover,
  .docsbutton:hover {
    transform: scale(1.1); /* Grow the button on hover */
  }

  @media (max-width: 576px) {
    .welcome {
      height: 650px !important;
    }
    .block-content2 {
      display: block;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    .button-left {
      margin-right: 0;
    }

    .button-right {
      margin-left: 0;
    }

    .discordbutton,
    .trellobutton,
    .githubbutton,
    .downloadbutton,
    .docsbutton {
      width: 150px;
    }
  }

  @media (max-width: 768px) {
    .welcome {
      height: 550px;
      width: 100%;
      background-image: url("https://utfs.io/f/YBTHYqEAQmVXOwuI4PFwE3tZWKmAp51Ic8SikVbjg7MuHvBQ");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 5px;
    }
    .background .welcome > .description {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 0;
      align-items: center;
      text-align: center;
    }
    .description h1 {
      line-height: 40px;
      font-size: 25px;
    }
    .trellobutton,
    .docsbutton {
      visibility: hidden;
    }
  }

  @media (max-width: 992px) {
    .welcome {
      height: 600px;
      width: 100%;
      background-image: url("https://utfs.io/f/YBTHYqEAQmVXOwuI4PFwE3tZWKmAp51Ic8SikVbjg7MuHvBQ");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 5px;
    }
    .welcome > .description {
      width: 75%;
      padding-top: 70px;
      padding-left: 60px;
    }
  }
  @media (max-width: 1200px) {
    .welcome {
      height: 570px;
      width: 100%;
      background-image: url("https://utfs.io/f/YBTHYqEAQmVXOwuI4PFwE3tZWKmAp51Ic8SikVbjg7MuHvBQ");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 5px;
    }
    .block-content > .block img {
      width: 140px;
      height: 100px;
    }
  }
  @media (max-width: 1400px) {
    .welcome {
      height: 600px;
      width: 100%;
      background-image: url("https://utfs.io/f/YBTHYqEAQmVXOwuI4PFwE3tZWKmAp51Ic8SikVbjg7MuHvBQ");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 5px;
    }
  }
</style>
