<footer>
  <p>R5Reloaded</p>
  <p><a href="./eula">Read EULA</a></p>
</footer>

<style>
  body > footer {
    margin-bottom: 30px;
  }
  footer > p {
    text-align: center;
    font-weight: 400;
    color: var(--white);
  }

  p > a {
    text-decoration: underline;
    color: var(--white);
  }

  p > a:hover {
    color: var(--red);
    cursor: pointer;
  }
</style>
