.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 20px 0px 20px;
}
.container > .row {
  display: inline-block;
  width: 100%;
}
@media (min-width: 576px) {
  .container > .row {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container > .row {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container > .row {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container > .row {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container > .row {
    width: 1350px;
  }
}
