html {
  scroll-behavior: smooth;
}
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark);
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  color: var(--light);
}
