<div class="black-background">
  <h3 class="title" style="color: var(--white)">Text Install Tutorial</h3>

  <h2 style="color: var(--red)">Before You Begin:</h2>
  <ul style="color: var(--white);margin-left: 20px">
    <li>Before you start the installation process, make sure you have the EA App installed and that you have the standard Apex game in your library.</li>
    <li>If you're updating from a previous version of the game, do not reuse those files. You need to perform a clean install of all the files.</li>
    <li>Ensure you have at least 55 gigabytes of free space to install R5Reloaded.</li>
  </ul>

  <br />

  <h2 style="color: var(--red)">Installing R5Reloaded:</h2>
  <ol style="color: var(--white);margin-left: 20px">
    <li>Download the R5Reloaded launcher from the link provided below.</li>
    <br />

    <li>Choose a location on your system where you'd like to install the game, for example, C:/R5Reloaded. Please note that the chosen folder path must not contain any non-Latin characters.</li>
    <br />

    <li>Drag and drop or copy and paste the launcher into the folder you created in the previous step.</li>
    <br />

    <li>Open the R5Reloaded launcher and click the "Install Apex" button.</li>
    <br />

    <li>Allow some time for the installation process to complete.</li>
    <br />

    <li>Once the installation is finished, click "Launch Apex" to start playing.</li>
    <br />
  </ol>

  <p>Follow these steps carefully to ensure a smooth installation process. If you have any further questions or encounter any issues, feel free to ask for assistance in the discord.</p>

  <a href="https://github.com/SlaveBuild/r5r_installer/releases/download/v0.1a/R5Reloaded_Installer.exe" class="downloadbutton" style="margin-right: 10px;margin-top: 35px;box-shadow: 0px 0px 10px #00000090;width: 100%">Download Launcher</a>
</div>

<style>
  .downloadbutton {
    display: flex;
    width: 150px;
    height: 45px;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    background-color: var(--red);
    color: var(--white);
    border-radius: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
  }

  .downloadbutton:hover {
    transform: scale(1.05); /* Grow the button on hover */
  }
</style>
