<div class="black-background">
  <h3 class="title" style="color: var(--white)">Text Tutorial</h3>

  <h2 style="color: var(--red)">Before You Begin:</h2>
  <ul style="color: var(--white);margin-left: 20px">
    <li>Before you start the installation process, make sure you have the EA App installed and that you have the standard Apex game in your library.</li>
    <li>If you're updating from a previous version of the game, do not reuse those files. You need to perform a clean install of all the files.</li>
    <li>Ensure you have at least 55 gigabytes of free space to install R5Reloaded.</li>
  </ul>

  <br />

  <h2 style="color: var(--red)">Installing R5Reloaded:</h2>
  <ol style="color: var(--white);margin-left: 20px">
    <li>Download the R5Reloaded launcher from the link provided above.</li>
    <br />

    <li>Open and install the game to anywhere you would like to have it.</li>
    <br />

    <li>Hit the "Install Apex" button..</li>
    <br />

    <li>Once the installation is finished, click "Launch Apex" to start playing.</li>
    <br />
  </ol>

  <p>Follow these steps carefully to ensure a smooth installation process. If you have any further questions or encounter any issues, feel free to ask for assistance in the discord.</p>
</div>
