---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./img/R5R-Logo-White.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>{title}</title>
    <meta content="R5Reloaded" property="og:title" />
    <meta content="An Apex Legends Modding SDK" property="og:description" />
    <meta content="https://r5reloaded.com" property="og:url" />
    <meta content="https://r5reloaded.com/newsite/img/R5R-Logo-White.gif" property="og:image" />
    <meta content="#d43d2c" data-react-helmet="true" name="theme-color" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --white: #fff;
    --red: #d81e22;
    --dark: #27292a;
    --light: #666;
    --yellow: yellow;
    --green: #1ed856;
  }

  html {
    scroll-behavior: smooth;
  }
  body,
  body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--dark);
  }
  p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    color: var(--light);
  }

  .background {
    padding: 50px 80px;
    background-color: var(--dark);
    border-radius: 5px;
  }

  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 20px 0px 20px;
  }
  .container > .row {
    display: inline-block;
    width: 100%;
  }

  .title {
    padding: 30px 0;
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--red);
  }

  .black-background {
    /* width: 100%; */
    margin-top: 50px;
    padding: 10px 60px 50px 60px;
    background-color: #1f2122;
    border-radius: 5px;
  }

  @media (min-width: 576px) {
    .container > .row {
      width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container > .row {
      width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container > .row {
      width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container > .row {
      width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container > .row {
      width: 1350px;
    }
  }

  @media (max-width: 576px) {
    .background {
      margin: 55px 0 0 0;
    }
    .row > .background {
      padding: 0px 0px;
    }
    .black-background > .row-content {
      align-items: center;
      justify-content: center;
    }

    .row-content .row-block > .text {
      flex-direction: column;
      margin-right: 0px;
    }
    .row-content .row-block .text > .text-white {
      margin-left: 10px;
    }
    .black-background .row-content .margin .text > .text-no-bold {
      margin-left: 10px;
    }
  }

  @media (max-width: 768px) {
    .background {
      margin: 55px 0 0 0;
    }
    .black-background {
      padding: 0 0 50px 20px;
    }
    .block .text > .text-white {
      font-size: 14px;
    }
    .block .text .text-white i > span {
      font-size: 12px;
    }
    .block .text .text-no-bold {
      font-size: 14px;
    }
    .block .text .text-no-bold > i {
      font-size: 12px;
    }
    .block .text .text-no-bold i > span {
      font-size: 12px;
    }
  }

  @media (max-width: 992px) {
    .background {
      margin: 55px 0 0 0;
    }
    .title {
      font-size: 25px;
    }
    .block-content {
      flex-wrap: wrap;
    }
    .block {
      margin: 0 20px 20px 0;
    }
    .block-content:nth-child(2) {
      margin: 0;
    }
    .text > .text-white {
      font-size: 18px;
    }
    .text .text-white i > span {
      font-size: 13px;
    }
    .text > .text-no-bold {
      font-size: 18px;
    }
    .text .text-no-bold > i {
      font-size: 15px;
    }
    .text .text-no-bold i > span {
      font-size: 13px;
    }
    .row-content {
      text-align: center;
    }
    .row-block {
      display: inline-block;
      padding: 30px 0px;
      align-content: center;
      border: none;
    }
    .row-block img {
      width: 175px;
      margin-right: 60px;
      border: none;
    }
    .row-block > .text:nth-child(2) {
      margin-left: 0;
    }
  }
  @media (max-width: 1200px) {
    .black-background {
      padding: 0 0 50px 20px;
    }
    .block-content > .block img {
      width: 140px;
      height: 100px;
    }
    .text-white {
      font-size: 14px;
    }
    .text-white i > span {
      font-size: 11px;
    }
    .text-no-bold {
      font-size: 14px;
    }
    .text-no-bold > i {
      font-size: 11px;
    }
    .text-no-bold i > span {
      font-size: 10px;
    }
    .row-content {
      display: block;
    }
  }
  @media (max-width: 1400px) {
    .row-block > .text {
      margin-right: 60px;
    }
  }
</style>
